html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: beige;
    text-align: center;
}

.title {
    margin: 1px;
    padding: 1px;
    font-family: 'Roboto', sans-serif;
    background-color: burlywood;
    text-align: center;
}

.table , th , td {
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px;
    border: 1px solid black;
}
.high-cost {
    background-color: red;
}